<h3> View Employee Details</h3>
<div>
    <div>
        <label><b>First Name:</b></label> {{employee.firstname}}
    </div>
    <div>
        <label><b>Last Name:</b></label> {{employee.lastname}}
    </div>
    <div>
        <label><b>Email Id:</b></label>{{employee.emailId}}
    </div>
    
    <div>
        <label><b>Department:</b></label>{{employee.department}}
    </div>
    <div>
        <label><b>Role:</b></label>{{employee.role}}
    </div>
    <div>
        <label><b>designation:</b></label>{{employee.designation}}
    </div>
    <div>
        <label><b>Country:</b></label>{{employee.country}}
    </div>
   
    

</div>