<nav class="navbar navbar-expand-sm bg-secondary navbar-light">
<ul class="navbar-nav">
  <!-- <li class=" nav-item">
    <a routerLink="employees" style="color: white;" routerLinkActive="active" class="nav-link">Employee List</a>

  </li> -->
  <div  class="collapse navbar-collapse" id="navbarSupportedContent">
    <button type="button"  routerLink="home" routerLinkActive="active" class="nav-link btn btn-dark">Home</button>

    <button type="button"  routerLink="create-employee" routerLinkActive="active" class="nav-link btn btn-dark">Register</button>


  
    <button type="button" routerLink="login-employee"  routerLinkActive="active" class="nav-link btn btn-dark ">Login</button>

 
</div>
</ul>
</nav>


<div>
  <router-outlet></router-outlet>

</div>
