<div class="col-md-4 offset-md-3">


    <h3>Update Employee</h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstname" name="firstName">
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastname" name="lastName">
        </div>

        <div class="form-group">
            <label for="department">Choose department</label>
            <select name="department" id="department" class="form-control" [(ngModel)]="employee.department">
                <option value="java">java</option>
                <option value="devOps">devOps</option>
                <option value="data">data</option>
                <option value="dotNET">dotNET</option>
            </select>
        </div>
        <div class="form-group">
            <label for="role">Choose role</label>
            <select name="role" id="role" class="form-control" [(ngModel)]="employee.role">
                <option value="superAdmin">Super Admin</option>
                <option value="admin">Admin</option>
                <option value="user">User</option>
               
            </select>
        </div>
        <div class="form-group">
            <label for="designation">Choose designation</label>
            <select name="designation" id="designation" class="form-control" [(ngModel)]="employee.designation">
                <option value="Intern">Intern</option>
                <option value="Sr. Software Engineer">Sr. Software Engineer</option>
                <option value="Jr. Software Engineer">Jr. Software Engineer</option>
                <option value="Business Analyst">Business Analyst</option>
            </select>
        </div>
        
        <div class="form-group">
            <label>Email Id</label>
            <input type="email" class="form-control" id="emailId" [(ngModel)]="employee.emailId" name="emailId">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="employee.password" name="password">
        </div>
        <div class="form-group">
            <label>Country</label>
            <input type="Country" class="form-control" id="Country" [(ngModel)]="employee.country" name="Country">
        </div>
       
        <button class="btn btn-success" type="submit"> Submit </button>

    </form>
</div>